doctype html
html(lang="ja")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="../css/style.css")
  body
    header.header 
      .header-kv-filter 
        .site-title
          p Online
          p Photo
          p Frame
          h1 Calmyou
        p.induction-scroll-text scroll
        .arrow-down
        .arrow-diagonal
    .sp-kv-filter 
      nav.sp-kv-filter__inner 
        ul
          li Themes
          li 
            ul
              li
                a(href="")
                  img(src="./assets/img/webp/thumbnail/thumbnail_cherry_blossom.webp", alt="花のテーマ画像")
                  span Flower
              li
                a(href="")
                  img(src="./assets/img/webp/thumbnail/thumbnail_koyo.webp", alt="紅葉のテーマ画像")
                  span Koyo
              li
                a(href="")
                  img(src="./assets/img/webp/thumbnail/thumbnail_cat.webp", alt="猫のテーマ画像")
                  span Cat
          li
            a(href="") Contact
          li
            a(href="") Top
